.input-min {
   width: 8vw;
   height: 40px;
   font-size: 1vw;
   text-align: center;
   background-color: #f7f7f7;
}

.input-min :hover {
   color: black;
   background-color: #fff;

}

.input-max {
   width: 8vw;
   height: 40px;
   font-size: 1vw;
   text-align: center;
   background-color: #f7f7f7;
}

.input-max :hover {
   background-color: #fff;
}

.price-input {
   width: 500px;
   display: flex;
   margin: 10px 0 15px;
}

.price-input .leftField {
   height: 45px;
   display: flex;
   align-items: center;
   justify-content: left;
}

.price-input .rightField {
   height: 45px;
   width: 550px;
   display: flex;
   align-items: center;
   justify-content: left;
}

.i .field input {
   width: 50%;
   height: 50%;
   outline: none;
   font-size: 19px;
   text-align: center;
   margin-left: 12px;
   border-radius: 5px;
   border: 1px solid #999;
   -moz-webkit-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
   -webkit-appearance: none;
}

.price-input .separator {
   width: 60px;
   font-size: 20px;
   margin-left: 20px;
   margin-right: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.slider {
   width: 26.5vw;
   height: 5px;
   position: relative;
   background: #ddd;
}

.slider .progress {
   height: 100%;
   position: absolute;
   border-radius: 5px;
   background: #44546A;
}

.range-input {
   position: relative;
}

.range-input input {
   position: absolute;
   top: -5px;
   height: 5px;
   width: 26.5vw;

   background: none;
   pointer-events: none;
   -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
   height: 17px;
   width: 17px;
   border-radius: 50%;
   pointer-events: auto;
   -webkit-appearance: none;
   background: #44546A;
}

input[type="range"]::-moz-slider-thumb {
   height: 17px;
   width: 17px;
   border: none;
   border-radius: 50%;
   pointer-events: auto;
   -moz-appearance: none;
   background: #44546A;
}